page-home {
  ion-fab .fab {
    background-color: #01445C;
  }
  ion-item {
    >ion-icon {
      color: #006A27;
    }
    .item-inner {
      margin-left: 12px !important;
    }
    .item-container {
      margin-right: 110px;
    }
    .item-title {
      font-size: 16px;
      font-weight: 600;
      color: black;
    }
    .item-expiry-text {
      font-size: 14px;
      font-style: italic;
    }
    .item-expiry-date {
      right: 10px;
      top: 13px;
      position: absolute;
      padding: 10px;
      color: white;
      background-color: #008431;
      min-width: 100px;
      text-align: center;
    }
  }
  ion-item.expired{
    >ion-icon {
      color: #931A00;
    }
    .item-expiry-date {
      background-color: #B62000;
    }
  }
  ion-item.expires-soon{
    >ion-icon {
      color: #936800;
    }
    .item-expiry-date {
      background-color: #B68200;
    }
  }
}
