<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/clock.png">
      Expiry Tracker
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab bottom right>
    <button ion-fab (click)="openAddItemModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-list>
    <ion-item-sliding *ngFor="let item of itemsService.items; let i = index">
      <ion-item nopadding>
        <ion-icon item-start name="albums" color="dark"></ion-icon>
        <p>
          <span class="item-title">{{item.name}}</span><br>
          <span class="itme-expiry-date">Expires: {{item.expiryDate}}</span>
        </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteItem(item)">
          <ion-icon name="trash"></ion-icon> Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <!--<button ion-item (click)="test(item)" *ngFor="let item of itemsService.items; let i = index">
      <ion-icon item-start name="basket" color="dark"></ion-icon>
      <ion-label>{{item.name}} (Expires {{item.expiryDate}})</ion-label>
    </button>-->
  </ion-list>
</ion-content>
