page-home {
  ion-fab .fab {
    background-color: #01445C;
  }
  ion-item {
    .item-title {
      font-size: 16px;
      font-weight: 600;
      color: black;
    }
    .item-expiry-text {
      font-size: 14px;
      font-style: italic;
    }
    .item-expiry-date {
      right: 15px;
      position: absolute;
    }
  }
  ion-item.expired {
    color: #931A00;
  }
  ion-item.expires-soon {
    color: #936800;
  }
}
